@(work: models.Work, image: Option[models.Image], dimensions: Option[models.Dimension])

@main(work.title) {
  <div class="row">
    <div class="col-6">
      <img style="width:100%" src='@routes.Assets.versioned(s"images/gallery/${image.get.uuid}.${image.get.ext}")' />
    </div>
    <div class="col-6">
      <div class="row display-4">@work.title</div>
      <div class="row"><i><b>size:</b></i>@dimensions.get.dimension</div>
      <div class="row"><i><b>description: </b></i>@work.description</div>
      <div class="row"><i><b>date:</b></i>@work.creationDate</div>
      <div class="row">
        @if(work.available) {
          <div class="alert alert-info" role="alert">available</div>
        } else {
          <div class="alert alert-danger" role="alert">not available</div>
        }
      </div>
    </div>
  </div>
}
