@(work: models.Work)

@main(work.title) {
  <div class="row">
    <div class="col">
      <img class="card-img-top" src="@routes.Assets.versioned("images/test.jpg")">
    </div>
    <div class="col">
      <div class="row display-4">@work.title</div>
      <div class="row"><i>description:</i> @work.description</div>
      <div class="row"><i>date:</i> @work.creationDate</div>
      <div class="row">
        @if(work.available) {
          <div class="alert alert-info" role="alert">available</div>
        } else {
          <div class="alert alert-danger" role="alert">not available</div>
        }
      </div>
    </div>
  </div>
}
